*.log
*.pot
*.pyc
__pycache__
media

.env
.venv
env/
venv/
/venv/
ENV/
env.bak/
venv.bak/

*.bak

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
*.iws /out/


/.idea/.gitignore
/.idea/dbnavigator.xml
/.idea/library.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
